@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");

#header {
  background-image: url("../img/header.png");
  width: 100%;
  height: auto;
}

#uvod {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3em;
}

html {
  scroll-behavior: smooth;
}

main a {
  color: black;
  text-decoration: underline dashed 1px black;
}

main a:hover {
  color: black;
  text-decoration: underline solid 1px black;
}

footer a {
  color: white;
}

footer a:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

#kapitola2 ol li {
  color: blueviolet;
  font-weight: 700;
}
